@import "tailwindcss";

/*font-face pretendard 설정*/
@font-face {
  font-family: "Pretendard-Black-900";
  src : url("/fonts/Pretendard-Black.woff2") format('woff2');
}
@font-face {
  font-family: "Pretendard-extrabold-800";
  src : url("/fonts/Pretendard-ExtraBold.woff2") format('woff2');
}
@font-face {
  font-family: "Pretendard-bold-700";
  src: url("/fonts/Pretendard-Bold.woff2") format('woff2');
}
@font-face {
  font-family: "Pretendard-semibold-600";
  src: url("/fonts/Pretendard-SemiBold.woff2") format('woff2');
}
@font-face {
  font-family: "Pretendard-medium-500";
  src : url("/fonts/Pretendard-Medium.woff2") format('woff2');
}
@font-face {
  font-family: "Pretendard-regular-400";
  src: url("/fonts/Pretendard-Regular.woff2") format('woff2');
}
@font-face {
  font-family: "Pretendard-light-300";
  src: url("/fonts/Pretendard-Light.woff2") format('woff2');
}
@font-face {
  font-family: "Pretendard-extralight-200";
  src: url("/fonts/Pretendard-ExtraLight.woff2") format('woff2');
}
@font-face {
  font-family: "Pretendard-thin-100";
  src: url("/fonts/Pretendard-Thin.woff2") format('woff2');
}


/*Font + Tailwind 설정*/
@theme {
  --font-pretendard-regular : 'Pretendard-regular-400';
  --font-pretendard-semibold : 'Pretendard-semibold-600';
  --color-trend-gray : #1b263b;
}

:root {
  font-family: "Pretendard-regular-400";

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
}

